#designPatterns {
	width: 100%;
}

#patternList {
	min-height: 100%;
	border-right: 1px solid #000000;
	float: left;
	width: 30%;
	margin-right: 2%;
}

#patternOutput {
	width: 67%;
	float: left;
	min-height: 100%;
}
